<meta name="referrer" content="never">
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<div id="movies">
    <table>
    {% for mv in content.movies %}
        <td>
            <img src='{{mv.content.img}}' width="150px" length="150px">
            <p>{{mv.content.name}}</p>
            <p>{{mv.content.rating}}
            <p>{{mv.content.year}}
            <button class="like" type="button">Like</button>

        </td>
        </form>
    {% endfor %}
    </table>
</div>

<div id="books">
    {% for book in content.books %}
        {{ book.content.info |safe}}
        <img src='{{ book.content.img }}'>
    {% endfor %}
</div>

<div id="daily">
      {% for d in content.daily %}
        {{ d.content.body |safe}}
    {% endfor %}
</div>
<script type="text/javascript">
$(document).ready(function(){
  $(".like").click(function(){
  rs=$.ajax({url:"/get/book",async:false});
  });
});
</script>