{% raw %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="referrer" content="never">
    <script src="/static/script/mustache.js"></script>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <title>地球上没有新鲜事</title>
    <link rel="stylesheet" type="text/css" href="/static/css/aui.css" />
    <style type="text/css">
        #demo {
            width: 4rem;
            height: 4rem;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -2rem;
            margin-top: -2rem;
            background-color: #e0e0e0;
            border-radius: 50%;
            line-height: 4rem;
            text-align: center;
            color: #212121;
            font-size: 1.2rem;
        }

        .user-info {
            background-color: #ffffff;
            padding: 0.75rem 0;
        }
        img.avatar {
            display: block;
            margin: 0 auto;
            width: 20%;
        }
        .aui-list .aui-list-header {
            background-color: #ffffff;
            line-height: 1.2rem;
        }
        .aui-list .aui-list-item {
            background-color: #f8f6ef;
        }
        .critics{
          padding-left: 10px;
          padding-right: 10px;
        }

    </style>
</head>
<body onload="get()">

<div id="index" style="padding-bottom:60px">
<div id="searchbar">
<script>
    $("#searchbar").load("/static/searchbar.html");
   </script>
    </div>

    <div id="zhihupage">
<script>
    $("#zhihupage").load("/static/zhihu.html");
   </script>
    </div>
    <div id="doubanpage">
<script>
    $("#doubanpage").load("/static/douban.html");
   </script>
    </div>



</div>
</div>
<div id="detail-box" style="display: None">
    <header class="aui-bar aui-bar-nav">
        <a class="aui-pull-left aui-btn" onclick="d_back()">
            <span class="aui-iconfont aui-icon-left"></span>返回
        </a>
        <div class="aui-title"> 日报</div>
        <a class="aui-pull-right aui-btn aui-btn-outlined" onclick="collect()">
            <span class="aui-iconfont aui-icon-star"></span>收藏
        </a>
    </header>
<div id="detail" style="padding-bottom: 70px;margin: 10px 10px 10px 0px">


</div>
</div>
<div id="collect" style="display: None">
</div>
<script id="collect_tmp" type="x-tmpl-mustache">
    <header class="aui-bar aui-bar-nav">

        <div class="aui-title"> 我的收藏</div>

    </header>

<ul class="aui-list aui-list-in">
    {{#items}}
    <li class="aui-list-header" value='{{id}}' onclick='getdetail(this.value)'>
    {{title}}
    </li>
    {{/items}}
</ul>
</script>
<div id="profile" style="display: None">
<header class="aui-bar aui-bar-nav">个人资料
            <span class="aui-iconfont aui-icon-close"><a href="/logout">Logout</a></span>

</header>
<div id="profile-show"></div>
<script id="userinfo" type="x-tmpl-mustache">
<section class="aui-content user-info aui-text-center aui-margin-b-15">
        <img src="/static/image/liulangnan.png" class="avatar aui-img-round">
        <h2 class="aui-margin-t-15">{{nickname}} <small><i class="aui-iconfont aui-icon-cert aui-text-danger"></i></small></h2>
        <div class="aui-row aui-margin-t-15">
            <div class="aui-col-xs-6 aui-text-right aui-border-r aui-padded-r-10">
                <div class="aui-label aui-label-info">LV 6</div>
            </div>
            <div class="aui-col-xs-6 aui-text-left aui-padded-l-10">
                ID:{{user_id}}
            </div>
        </div>
        <div class="aui-row aui-margin-t-15">
                <span class="aui-text-danger aui-margin-r-5">签名：</span>{{bio}}
        </div>
    </section>
</script>

</div>

<div id="message" style="display:None">
  <div class="aui-content aui-margin-b-15">
      <ul class="aui-list aui-media-list">
          <li class="aui-list-item wechat-top">
              <div class="aui-media-list-item-inner">
                  <div class="aui-list-item-label-icon">
                      <i class="aui-iconfont aui-icon-mobile"></i>
                  </div>
                  <div class="aui-list-item-inner">
                      IPHONE客户端在线
                  </div>
              </div>
          </li>

          <li class="aui-list-item aui-list-item-middle">
              <div class="aui-media-list-item-inner">
                  <div class="aui-list-item-media wechat-avatar">
                      <div class="aui-badge">9</div>
                      <img src="/static/image/demo5.png" />
                  </div>
                  <div class="aui-list-item-inner">
                      <div class="aui-list-item-text">
                          <div class="aui-list-item-title">小红</div>
                          <div class="aui-list-item-right">昨天</div>
                      </div>
                      <div class="aui-list-item-text aui-font-size-12">
                          推荐了电影《降临》给你！
                      </div>
                  </div>
              </div>
          </li>
          <li class="aui-list-item aui-list-item-middle">
              <div class="aui-media-list-item-inner">
                  <div class="aui-list-item-media wechat-avatar">
                      <img src="/static/image/demo1.png" />
                  </div>
                  <div class="aui-list-item-inner">
                      <div class="aui-list-item-text">
                          <div class="aui-list-item-title">张三</div>
                          <div class="aui-list-item-right">1天前</div>
                      </div>
                      <div class="aui-list-item-text aui-font-size-12">
                        看看这个,哪一刻你会觉得现实美好？
                      </div>
                  </div>
              </div>
          </li>
          <li class="aui-list-item aui-list-item-middle">
              <div class="aui-media-list-item-inner">
                  <div class="aui-list-item-media wechat-avatar">
                      <div class="aui-dot"></div>
                      <img src="/static/image/demo4.png" />
                  </div>
                  <div class="aui-list-item-inner">
                      <div class="aui-list-item-text">
                          <div class="aui-list-item-title">Alice</div>
                          <div class="aui-list-item-right">星期一</div>
                      </div>
                      <div class="aui-list-item-text aui-font-size-12">
                          Hi,Thanks for your treat~
                      </div>
                  </div>
              </div>
          </li>
      </ul>
  </div>
</div>

<footer class="aui-bar aui-bar-tab" id="footer">
    <div class="aui-bar-tab-item aui-active" tapmode>
        <i class="aui-iconfont aui-icon-home"></i>
        <div class="aui-bar-tab-label">首页</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <i class="aui-iconfont aui-icon-star"></i>
        <div class="aui-bar-tab-label">收藏</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <div class="aui-badge">99</div>
        <i class="aui-iconfont aui-icon-paper"></i>
        <div class="aui-bar-tab-label">消息</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <div class="aui-dot"></div>
        <i class="aui-iconfont aui-icon-my"></i>
        <div class="aui-bar-tab-label">我的</div>
    </div>
</footer>
    <script type="text/javascript" src="/static/script/api.js" ></script>
    <script type="text/javascript" src="/static/script/aui-tab.js" ></script>


    <script src="/static/script/fetchdata.js"></script>
</body>


</html>
{% endraw %}
